/* @charset "UTF-8";

@media screen and (max-width: 600px) { /*Telas pequenas*/
    /* span#burguer{
        display: block;
        padding: 18px;
        cursor: pointer;
        margin-left: 6px;
    }

    span#burguer:hover{
        color: white;
        width: 20px;
        
    }

    menu{
        display: block;
        position: sticky;
        padding-right: 100%;
        margin-top: -14%;
        padding-top: 10px;

    }

    ul.menu {
        display: block;
        background-color: #092040;
        color: white;
        height: 10%;
        width: 90px;
    }

    ul.menu li {
        padding-inline: 8px;
    }

    .img_logo{
        height: 98px;
        margin-top: 0px;
    }

    .input-2{
       
        margin-left: 48px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        border: none;
        border-bottom: 1px solid #E3D7FF;
        background-color: transparent;
        color: #E3D7FF; 
        }

    .form-login{
        border: 2px solid #d8ebfd;
        box-shadow: 1px 3px 6px 2px #7e778f;
        
        border-radius: 16px;
        width: 56%;
        height: 360px;
        padding: 40px;
        margin-left: 12%;
        margin-top: 10%;
        }

        .campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
        padding: 0.3em;
        }

        .botao {
        font-size: 1.2em;
        background: #6891c5;
        border: 0;
        margin-bottom: 1em;
        color: #ffffff;
        padding: 0.8em 0.8em;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        position: absolute;
        top: 78%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
        } */


} */