@charset "UTF-8";

/*Typical Device Breakpoints

Telas pequenas: até 600px
Celulares: de 600px até 768px
Tablet: de 768px até 992px
Desketop: de 992px até 1200px
Telas grandes: de 1200px pra frente*/

@media print { /*Impressoras*/

}

@media screen and (max-width: 600px) { /*Telas pequenas*/
  form{
    display: none;
  }
    span#burguer{
        display: block;
        top: 86px;
        padding: 18px;
        cursor: pointer;
        margin-left: 22px;
        font-size: 36px;
    }

    /* span#burguer:hover{
        color: white;
        width: 20px;
        
    } */

    menu{
        display: block;
        position: sticky;
        padding-left: 62%;
        margin-top: 36px;  
    }

    ul.menu {
        display: block;
        background-color: #092040;
        color: white;
        height: 10%;
        width: 90px;
        padding-top: 12%;
    }

    ul.menu li {
        padding-inline: 8px;
    }

    .img_logo{
        height: 98px;
        margin-top: 0px;
    }

    .input-1{
        padding: 0px 2px 8px 30px;
        margin-top: -30px; 
    }

    .button{
        top: -28px;
    }

    .login{
        display: flex;
        width: 140px;   
        margin-top: -4%;
        margin-right: -66%;
    }

    
    .sign-in{
      display: block;
      position: absolute;
      right: 80px;
      top: 34px;
      color: white;
      
    }

    h1, h2{
        margin: 40px 0 16px 0;
        font-size: 24px;
        text-shadow: 1px 1px 1px #cdc1e9;
      }

      .categorias{
        display: block;
        margin: auto;
      }

      div.celulares{
        display: block;
        margin: auto;
        overflow: hidden;
      }
    
      .linha_celulares{
        display: block;
        margin: auto;
        width: 260px;
        padding: 36px;
        cursor: pointer;
        -webkit-transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
      }

      .lancamento-atalho{
        display: block;
        margin: auto; 
        border: none;
        box-shadow: none;
        margin-bottom: 60px;
      }

      div .img-lancamento{
        display: block;
        margin: auto;
        width: 66%;
        height: 90%;
        margin-top: 16px;

      }

      .span-lanc-img{
        display: block;
        margin: auto;
        text-align: center;
        width: 40%;
        height: 28px;
        left: 38px;
        padding-top: 8px;
        margin-top: -10px;
        border-radius: 8px;
        background-color: black;
        color: white;
        transform: translate( 50% , 50%);
      }

      .footer-p{
        margin-top: 80px;
      }

      /* login */

      .body-login{
        background-image: url(imagens/wallpaper-predio.jpeg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 92.2vh;
        font-family: 'Playfair Display', serif;
    }

    .header-login{
      height: 90px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
  }

  #burguer{
    margin-top: -50px;
    left: 270px;
  }

  .input-2{
    /* width: 100%;
    height: 100%; */
    display: flex;
  }
  
  .form{
    font-size: 18px;
    position: absolute;
    /* background-color: #ffffff; */
    
    width: 50px;
    height: 80px;
    padding-top: 20px;
    }

    .form-login{
      border: 2px solid white;
      width: 290px;
      height: 398px;
     
      border-radius: 16px;
      display: block;
      padding: 18px 0px 0px 18px;
      margin-left: 10%;
  }

  .nome-login ,.email-login, .senha-login{
    display: flex;
    width: 45px;
    padding: 2px;
    font-weight: normal;
    background-color: #092040;
}

.sobrenome-login{
  display: flex;
  width: 83px;
  padding: 2px;
  font-weight: normal;
  background-color: #092040;
}

input, textarea, button {
  font-family: sans-serif;
  font-size: 1.2em;
  color: black;
  border-radius: 5px;
}

.campo label {
  margin-bottom: 0.4em;
  color: #ffffff;
  display: block;
}

.botao {
  font-size: 1.2em;
  background: #6891c5;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.4em 0.8em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  position: absolute;
  top: 81%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* cadastro */
.img_logo-cadastro{
  height: 98px;
  margin-top: 25px;
  margin-left: 70%;
}

#burguer-cadastro{
  margin-left: 40px;
  margin-top: 30px;
  font-size: 38px;
}

ul.menu-cadastro {
  list-style: none;
  display: block;
  background-color: #092040;
  color: white;
  height: 10%;
  width: 90px;
  padding-top: 12%;
}

.menu-cadastro{
  display: block;
  position: sticky;
  padding-left: 62%;
  margin-top: 36px;  
}

ul.menu-cadastro li {
  padding-inline: 8px;
  padding: 10px;
}

ul.menu-cadastro li a {
  text-decoration: none;
  color: #E3D7FF;
}

menu > ul.menu-cadastro{
  display: block;
  position: sticky;
  margin-top: 32px;
  margin-left: -300px;  
}



}

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desketop*/
    
}

@media screen and (min-width: 1200px) { /*Telas grandes*/
    
}