@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}


header{
    background-color: #092040;
    height: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

span#burguer{
  display: none;
}

menu{
  display: flex;
}

ul.menu {
    list-style: none;
    padding: 15px;
    margin: 5px;
    text-align: center;
    display: flex;
    height: 30px;
    width: 84%;
    margin-top: -1%;
    margin-left: 12.5%;
    
}


ul.menu li {
    padding: 10px;
    padding-inline: 30px;
}


ul.menu li a {
    text-decoration: none;
    color: #E3D7FF;
    
}

ul.menu li a:hover {
  padding: 7px;
  border-radius: 10px;
  background-color: #E3D7FF;
  color: #092040;
  transition-duration: 0.5s;
}


.img_logo{
    height: 150px;
    
}

.container{
    width: 50%;
    
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -150px;
}

.formulario{
    background: grey;
    border-radius: 25px;
    position: relative;
    background-color: transparent;
}

.input-1{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 16px;
    padding: 4px 30px 4px 10px;
    border: none;
    border-bottom: 1px solid #E3D7FF;
    background-color: transparent;
    color: #E3D7FF;
    font-family: 'Roboto', sans-serif;
    
}

input:focus{
    outline: none;
}

.button{
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}

::-webkit-input-placeholder {
    color: #E3D7FF;
  }

button i{
    color: #E3D7FF;
}

button:hover i{
    color: #E3D7FF;
}

a.sign, a.sign-up {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

a.sign:hover, a.sign-up:hover{
  color: red;
} 

p {
  display: block;
  position: absolute;
  right: 130px;
  top: 46px;
  color: white;
  width: 90px;
  /* border: solid white 2px; */
  border-radius: 10px;
  padding: 7px;
}

.login{
    text-decoration: none;
    color: #E3D7FF;
    display: flex;
    margin: auto;
    width: fit-content;   
    margin-top: -4%;
    margin-right: 10%;
    border: solid #E3D7FF 2px;
    border-radius: 8px;
    padding: 4px;
    transition-duration: 0.5s;
}

.material-icons{
  margin: 0px 0px 0px -36px;
  color: #E3D7FF;
  top: 32px;
  position: absolute;
  font-size: 28px;
}


.login:hover .material-icons{
  color: #000000;
  
}

section > a{
    
    /* background-image: url(imagens/person-circle.svg); */
    color: #4202d8;
    background-repeat: no-repeat;
}



section > a:hover{
    color: #092040;
    border-radius: 10px;
    padding: 6px;
    background-color: #E3D7FF;
}

.carousel{
    align-items: center;
    display: flex;
    /* padding: 0px 10px 0px 10px; */

}

div > img{
    display: flex;
    margin: auto;
    align-content: center;
    width: 100%;
}

.hover-list {
    position: relative;
    cursor: pointer;
  }
  
  .hover-list::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  .hover-list:hover::before {
    opacity: 0.5;
  }

  h1{
    text-align: center;
    margin: 48px 0 10px 0;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #092040;
  }

  h2{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #092040;
  }

  .item-atalho{
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2.5px solid #d8ebfd;
    overflow: hidden;
    background-color: #234978;
    padding: 1px;
    margin: 29px;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
  }

  .lancamento-atalho{
    display: inline-block;
    padding: 15px; 
    border: solid 2px #E3D7FF;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #f0eef4;
    margin: 10px 16px 16px;
  }

  /* .img-lancamento{
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 20px 20px 0 20px;

  } */

  div .img-lancamento{
    width: 200px;
    height: 200px;
  }

  .span-lanc-img{
    position: absolute;
    display: flex;
    margin-left: 30px;
    color: #000000;
    margin: auto 75px 0 75px;
    font-family: 'Open Sans', sans-serif;

  }
  

 .img-dentro1
  {
    width: 100%;
    height: 100%;
    padding: 6px 2px 0px 10px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }

  .img-dentro2{
    width: 100%;
    height: 100%;
    padding: 1px 2px 4px 2px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }

  .img-dentro3 {
    width: 90%;
    height: 90%;
    padding: 8px 0 8px 6px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }

  .img-dentro4{
    width: 90%;
    height: 90%;
    padding: 6px 2px 10px 6px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }

  .img-dentro5{
    width: 70%;
    height: 70%;
    padding: 14px 2px 22px 16px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }

  .img-dentro6{
    width: 76%;
    height: 76%;
    padding: 14px 2px 16px 12px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }

  .img-dentro7{
    width: 90%;
    height: 90%;
    padding: 6px 2px 10px 6px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }
  
  .img-dentro8{
    width: 86%;
    height: 86%;
    padding: 6px 2px 14px 6px; /* e aqui*/
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
  }
  
  
  .img-dentro:hover{
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); 
  }

  .span-img1, .span-img2,
  .span-img8{
    font-size: 18px; /*mexi aqui */
    display: flex;
    padding-left: 18px;
    position: absolute;
    color: #000000;
  }

  .span-img3{
    font-size: 18px;
    display: flex;
    position: absolute;
    padding-left: 24px;
    color: #000000;
  }

  .span-img4{
    font-size: 18px;
    display: flex;
    position: absolute;
    padding-left: 14px;
    color: #000000;
  }

  
  .span-img5{
    font-size: 18px;
    display: flex;
    position: absolute;
    padding-left: 28px;
    color: #000000;
  }
  
  .span-img6{
    font-size: 18px;
    display: flex;
    padding-left: 38px;
    position: absolute;
    color: #000000;
  }

  .span-img7{
    font-size: 18px;
    display: flex;
    padding-left: 2px;
    position: absolute;
    color: #000000;
  }


 
  a{
    text-decoration: none;
  }

  h2{
    text-align: center;
    margin: 80px 0 10px 0;
  }


  .categorias{
    display: inline-block;
    padding: 20px;
    margin: 0 8px;
    font-family: 'Open Sans', sans-serif;
  }

  div.celulares{
    display: inline-block;
    margin: auto;
    
  }

  .linha_celulares{
    display: inline-block;
    width: 290px;
    padding: 10px;
    margin: 10px 50px 28px 50px;
    cursor: pointer;
  }

  button{
    padding: 16px;
    border-radius: 8px;
    background-color: #224877;
    color: #ffffff;
    border: none;
    /* right: 50%; */
    display: flex;
    margin-inline: auto;
    cursor: pointer;
    width: 100px;
    justify-content: center;
    content: 'especificações';
  }
  
  .img-cat{
    width: 160px;
    height: 160px;
  }

  .img-cat2{
    width: 168px;
    height: 150px;
  }

  .categorias a{
    font-size: 17px;
    color: black;
    cursor: pointer;
    display: block;
    text-align: center;
    transition: font-size 0.2s ease;
  }

  .categorias a:hover{
    color: #6891c5;
  }

  .wattsbtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }